
@media (max-width: $smartphone) and (max-width: $desktop) {
    .carousel-caption {
        bottom: 367px;

        p {
            width: 100%;
            line-height: 1.6;
            font-size: 12px;
        }

        h3 {
            font-size: 17px;
        }

        a {
            padding: 10px 15px;
        }
    }

}


@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: $desktop) {
    .contact-container {
        margin: 0 auto;
        margin-top: 30px;
        width: 90%;
    }
}


@media (max-width: $tablet) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
       margin-top: 50px;
    }

    .map iframe {
        height: 400px;
    }
}

@media(width < $tablet) {
    .tienda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 10px;
        grid-template-areas:
            "actions"
            "filters"
            "uno"
            "dos"
            "tres"
            "cuatro";

        section {
            padding: 10px 0;
            margin: 0 20px;
        }
    }


    nav {
        justify-content: center;
    }

    nav ul,
    .filters span,
    .filters ul {
        display: none;
    }

    .filters select {
        background-color: rgb(90, 79, 66);
        padding: 6px;
        display: block;
        width: 90%;
        margin: auto;
        border-radius: 4px;
    }

    .actions {
        justify-content: center;
        margin-top: 20px;

        input [placeholder="buscar"] {
            width: 350px;
        }
    }

    footer {
        flex-direction: column;

        svg {
            width: 20px;
        }

        div:nth-child(2) {
            margin: 10px 0;
        }

        a {
            font-size: 1rem;
        }
    }

}

@media (max-width< $smartphone) {
    .gallery {
        padding: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "fot-1"
            "fot-2"
            "fot-3"
            "fot-4"
            "fot-5"
            "fot-6"
            "fot-7";
        gap: 10px;
    }

    .parrafo {
        padding: 10px;
    }

    .videos {
        justify-content: center;
        background-color: rgb(0, 0, 0);
        display: inline-block;
        
    }
}

@media (max-width: $desktop) {
    .gallery {
        padding: 10px 10px 10px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1000px);
        grid-template-areas:
            "fot-1 fot-2 fot-3"
            "fot-4 fot-5 fot-6"
            "fot-7 fot-7 fot-7";
        gap: 10px;
    }

    .parrafo {
        padding: 10px;
    }

    .videos {
        justify-content: center;
        background-color: rgb(0, 0, 0);
        display: flex;
    }


}

@media (max-width: $tablet) {
    .indicee {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto-fit,
                minmax(2fr));
        grid-template-areas:
            "img1 img1 text1 text1"
            "text2 text2 img2 img2"
            "img5 img5 img4 img4"
            "img3 img3 img3 img3"
        ;
        gap: 5px;

    }
}


@media (max-width: $smartphone) {
    .indicee {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit,
                minmax(2fr));
        grid-template-areas:
            "img1"
            "text1"
            "img2"
            "text2"
            "img5"
            "img4"
            "img3"
        ;
        gap: 5px;
        margin: 0 auto;

    }


}